<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ETEC JB | Notícias</title>

    <link rel="shortcut icon" href="/imgs/logo/jb-logo.png" type="image/x-icon">

    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <!-- SWIPER JS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/news.css">
</head>
<body>
    <%- include('./partials/nav') %> 

    <%- include('./components/theme-switcher') %>

    <% if (news.length >= 3) { %>
        <section class="recent">
            <div class="container recent__container">
                <% for( let i = 0; i < 3; i++ ) { %>
                <%- include('./components/news/recent-notice', { notice: news[i] }) %> 
                <% } %>         
            </div>
        </section>
    <% } else { %>
        <style>
            .search__bar {
                padding-top: 6rem !important;
            }
        </style>
    <% } %>


    <%- include('./components/search-bar', {item: 'Notícia'}) %>

    <main class="main__container container">
        <section class="news">
            <% news.forEach(notice => { %>
             <%- include('./components/news/notice', { notice: notice}) %> 
            <% }) %>
        </section>

        <aside>
            <div class="featured">
                <div class="featured__title">
                    <h3>Mais Lidas</h3>
                </div>
                <div class="featured__list">
                    <% for( let i = 0; i < mostViewed.length ; i++ ) { %>
                        <div class="featured__notice">
                            <h1> <%- i + 1 %>  </h1> <h4><a href="/noticia/<%= mostViewed[i].notice_title %>"><%= mostViewed[i].notice_title %> </a></h4>
                        </div>
                    <% } %> 
                </div>
            </div>

            <div class="categories">
                <div class="categories__title">
                    <h3>Categorias</h3>
                </div>
                <div class="categories__container">
                    <% categories.forEach(category => { %>
                     <div class="category"><a href="/noticias/categoria/<%= category.category_name %> "><%= category.category_name %></a> </div>
                    <% }) %>
                </div>
            </div>

        </aside>
    </main>

    <%- include('./partials/footer') %> 

    <script src="/js/main.js"></script>

</body>
</html>