<div class="notice">
    <div class="notice__img">
        <img src="/uploads/news/<%= notice.notice_img %> ">
        <span class="img__category"><%= notice.Category.category_name %> </span>
    </div>  
    <div class="notice__content">
        <div class="notice__title"><h3><%= notice.notice_title %> </h3></div>
        <div class="notice__text">
            <p>
                <%= notice.notice_subtitle %>
            </p>
        </div>
    </div>
    <div class="notice__info">
        <%= notice.notice_author %>  &bull; <%= notice.notice_date %> 
    </div>
    <div class="notice__cta">
        <a href="/noticia/<%= notice.notice_title.split(' ').join('_') %> ">Continuar Lendo <i class="uil uil-arrow-right"></i> </a>
    </div>
</div>