<!DOCTYPE html>
<html lang="pt-br">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ETEC JB | Usuário</title>

    <link rel="shortcut icon" href="/imgs/logo/jb-logo.png" type="image/x-icon">

    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <!-- SWIPER JS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

    <%- include('../../partials/admin/admin-nav') %> 

    <%- include('../../components/theme-switcher') %> 

    <main class="admin">

        <%- include('../../partials/admin/admin-menu', {current: 'usuario'}) %>
        
        <section class="admin__container container">
            <div class="admin__content">
                <div class="admin__header"><h1>Novo Usuário</h1></div>
                <form class="admin__form" action="/admin/usuario/novo" method="POST">
                    <div class="form__section">
                        <%- include('../../components/admin/required-field', { check: 'empty', field: 'username' , msg: null }) %>
                        <%- include('../../components/admin/required-field', { check: 'existing', field: 'username' , msg: 'Nome de Usuário já em uso' }) %>
                        <label for="username">Nome de Usuário</label>
                        <input type="text" name="username" id="username">
                    </div>
                    <div class="form__section">
                        <%- include('../../components/admin/required-field', { check: 'empty', field: 'email' , msg: null }) %>
                        <%- include('../../components/admin/required-field', { check: 'existing', field: 'email' , msg: 'Email já em uso' }) %>
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="form__group">
                        <div class="form__section">
                            <%- include('../../components/admin/required-field', { check: 'empty', field: 'password' , msg: null }) %>
                            <%- include('../../components/admin/required-field', { check: 'matches', field: 'password' , msg: 'As senhas devem ser iguais' }) %>
                            <label for="password">Senha</label>
                            <input type="password" name="password" id="password">
                        </div>
                        <div class="form__section">
                            <%- include('../../components/admin/required-field', { check: 'empty', field: 'repeatPwd' , msg: null }) %>
                            <%- include('../../components/admin/required-field', { check: 'matches', field: 'repeatPwd' , msg: 'As senhas devem ser iguais' }) %>
                            <label for="repeatPwd">Repetir Senha</label>
                            <input type="password" name="repeatPwd" id="repeatPwd">
                        </div>
                    </div>
                    <div class="form__group form__actions">
                        <button type="reset" class="form__clear">Limpar</button>
                        <button type="submit" class="form__send">Enviar</button>
                    </div>
                </form>
                <div class="admin__info">
                    <a href="/admin/usuarios" class="admin__back">Voltar</a>
                </div>
            </div>
        </section>
        

    </main>

    <script src="/js/admin.js"></script>
</body>
</html>