<!DOCTYPE html>
<html lang="pt-br">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ETEC JB | Dashboard | Depoimentos</title>

    <link rel="shortcut icon" href="/imgs/logo/jb-logo.png" type="image/x-icon">

    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <!-- SWIPER JS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

    <%- include('../partials/admin/admin-nav') %> 

    <%- include('../components/theme-switcher') %> 

    <main class="admin">

        <%- include('../partials/admin/admin-menu', {current: 'depoimento'}) %> 

        <section class="admin__container container">

            <%- include('../components/admin/admin-search-bar', {item: 'Depoimento'}) %> 

            <div class="admin__content">
                <div class="admin__header">
                    <h1>Depoimentos</h1>
                    <a href="/admin/depoimento/novo" class="admin__add">
                        <i class="uil uil-plus"></i> Novo Depoimento 
                    </a>
                </div>
                <table class="admin__table bigger__table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Autor</th>
                            <th>Cargo</th>
                            <th>Frase</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (testimonials.length < 1) { %>
                            <tr>
                                <td colspan="5" class="admin__empty">
                                    Nenhum Depoimento Encontrado
                                </td>
                            </tr> 
                        <% } %>
                        <% testimonials.forEach(testimonial => { %>
                            <tr>
                                <td> <%- testimonial.id %> </td>
                                <td> <%- testimonial.testimonial_author %> </td>
                                <td> <%- testimonial.testimonial_role %> </td>
                                <td> <%- testimonial.testimonial_body %> </td>
                                <td> 
                                    <div class="admin__actions">
                                        <a href="/admin/depoimento/editar/<%- testimonial.id %> ">
                                            <i class="uil uil-pen"></i> Editar
                                        </a>
                                        <button class="deleteBtn" data-element="depoimento" data-element-id="<%- testimonial.id %> ">
                                            <i class="uil uil-trash-alt"></i> Excluir
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        <% }) %>   
                    </tbody>
                </table>

                <% if (typeof search != 'undefined') { %>
                    <%- include('../partials/admin/admin-info', {url: `/admin/depoimento/busca?name=${search}&`}) %> 
                <% } else {%>
                    <%- include('../partials/admin/admin-info', {url: `/admin/depoimentos?`}) %> 
                <% } %>
            </div>

        </section>

    </main>

    <%- include('../components/admin/confirmation', {item: 'Depoimento'}) %> 

    <script src="/js/admin.js"></script>
    <script>
        confirmation();
    </script>
</body>
</html>