<!DOCTYPE html>
<html lang="pt-br">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ETEC JB | Dashboard | Usuários</title>

    <link rel="shortcut icon" href="/imgs/logo/jb-logo.png" type="image/x-icon">

    <!-- ICONSCOUT CDN -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

    <!-- SWIPER JS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

    <%- include('../partials/admin/admin-nav') %> 

    <%- include('../components/theme-switcher') %> 

    <main class="admin">

        <%- include('../partials/admin/admin-menu', {current: 'usuario'}) %> 

        <section class="admin__container container">

            <%- include('../components/admin/admin-search-bar', {item: 'Usuário'}) %> 

            <div class="admin__content">
                <div class="admin__header">
                    <h1>Usuários</h1>
                    <a href="/admin/usuario/novo" class="admin__add">
                        <i class="uil uil-plus"></i> Novo Usuário 
                    </a>
                </div>
                <table class="admin__table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (users.length < 1) { %>
                            <tr>
                                <td colspan="5" class="admin__empty">
                                    Nenhum Usuário Encontrado
                                </td>
                            </tr>
                        <% } %> 
                        <% users.forEach(user => { %>
                            <tr>
                                <td><%- user.id %></td>
                                <td><%- user.username %></td>
                                <td><%- user.email %></td>
                                <td>
                                    <div class="admin__actions">
                                        <button class="deleteBtn" data-element="usuario" data-element-id="<%-user.id%>"><i class="uil uil-trash-alt"></i> Excluir</button>
                                    </div>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <% if (typeof search != 'undefined') { %>
                    <%- include('../partials/admin/admin-info', {url: `/admin/usuario/busca?name=${search}&`}) %> 
                <% } else {%>  
                    <%- include('../partials/admin/admin-info', {url: '/admin/usuarios?'}) %>
                <% } %>  
            </div>

        </section>

    </main>

    <%- include('../components/admin/confirmation', {item: 'Usuário'}) %> 

    <script src="/js/admin.js"></script>
    <script>
        confirmation();
    </script>
</body>
</html>