<div class="admin__info">
    <% if (pageQnt != 0) { %>
        <span class="admin__qnt">Página <strong><%- page %> </strong> de <strong><%- pageQnt %> </strong></span>
    <% } %>
    <div class="admin__pagination">
        <% if (pageQnt > 1) { %>
            <% if (page > 2) { %>
                <a href="<%-`${url}page=1`%>"><i class="uil uil-angle-double-left first"></i></a> 
                <a href="<%-`${url}page=${page-1}`%>"><i class="uil uil-angle-left"></i></a>
            <% } %>
            <% if (pageQnt < 3) { %> 
                <a class="admin__page <% if (page == 1) { %> current-page <% } %>  " href="<%-`${url}page=1`%>"><%- 1 %></a>
                <a class="admin__page <% if (page == 2) { %> current-page <% } %> " href="<%-`${url}page=2`%>"><%- 2 %></a>
            <% } else if (page == 1) { %>
                <a class="admin__page current-page" href="<%-`${url}page=${page}`%>"><%- page %></a>
                <a class="admin__page" href="<%-`${url}page=${page+1}`%>"><%- page +1 %></a>
                <a class="admin__page" href="<%-`${url}page=${page+2}`%>"><%- page +2%></a>  
            <% } else if (page < pageQnt) {%>  
                <a class="admin__page" href="<%-`${url}page=${page-1}`%>"><%- page -1%></a>
                <a class="admin__page current-page" href="<%-`${url}page=${page}`%>"><%- page %></a>
                <a class="admin__page" href="<%-`${url}page=${page+1}`%>"><%- page +1%></a> 
            <% } else {%>
                <a class="admin__page" href="<%-`${url}page=${page-2}`%>"><%- page -2 %></a>
                <a class="admin__page" href="<%-`${url}page=${page-1}`%>"><%- page -1 %></a>
                <a class="admin__page current-page" href="<%-`${url}page=${page}`%>"><%- page%></a> 
            <% } %> 
            <% if (page + 1 < pageQnt) { %> 
                <a href="<%-`${url}page=${page+1}`%>"><i class="uil uil-angle-right"></i></a>
                <a href="<%-`${url}page=${pageQnt}`%>"><i class="uil uil-angle-double-right last"></i></a> 
            <% } %>
        <% } %>
    </div>
</div>